{% extends 'index.html.twig' %}
{% block title %}
    <title>Home</title>
{% endblock %}

{% block container %}
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }} habite {{ user.city }} et est
                {{ user.date | date("m/d/Y") }}
                {% if user.age < 10 %}
                <strong>un enfant</strong>
            {% elseif user.age < 18 %}
                <strong style="color:red">mineur</strong>
            {% else %}
                <strong style="color:green">majeur</strong>
                {% endif %}.
            </li>
            <img src="{{ user.image }}" alt="Image de {{ user.name }}" width="300">

        {% endfor %}
    </ul>
{% endblock %}
